*{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Alternates', sans-serif, 'Poppins', sans-serif;
}

body {
  background-color: #3a2e5c;
  color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

.search-container .logo {
  font-size: 2.42rem;
  position: absolute;
  left: 0;
  background-image: url("/static/logo.png");
  height: 100%;
  width: 100px;
}

@media screen and (max-width: 900px) {
  .search-container .logo {
    display: none;
  }
}

.container > ul {
  width: 100%;
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  width: calc(100% - 2rem);
  margin: 1rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #000;
}

.card > .ean {
  color: #808080;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.card > .main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-size: 1.5rem;
}

.card > .main-content > .left {
  width: 85%;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card > .main-content > .right {
  height: 100%;
  width: 15%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card > .main-content > .left > p {
  margin-right: 2rem;
}

.card > .main-content > .right > p {
  margin: auto;
  right: 0;
}

.card:hover {
  background-color: #cfcece;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.top-btn {
  opacity: 0;
  pointer-events: none;
  cursor: none;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;

  transform: translateY(100%);
  transition: all 0.3s ease-in-out, transform 0.2s ease-in-out;

}

.top-btn.active {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
  transform: translateY(0);

  color: #3a2e5c;
  background-color: #fff;
}

.top-btn.active:hover {
  background-color: #3a2e5c;
  color: #fff;
}

.top-btn > i {
  font-size: 1.3rem;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.search-box {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 60px;
  border-radius: 120px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #eee;
  transition: all 0.5s ease;
}

.search-box:hover, .search-box:focus-within {
  box-shadow: 0 0 0 1px #eee;
}

.search-box::before {
  content: "\f002";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 1.32em;
  transition: all 0.5s ease;
  color: #AAA;
}

.search-box:hover::before, .search-box:focus-within::before {
  color: #eee;
}

.search-form {
  width: 95%;
  height: 100%;
}

#search {
  width: 95%;
  height: 100%;
  outline: none;
  border: none;
  background: rgba(255,255,255,0);
  padding: 0 6px 0 16px;
  color: #eee;
  font-size: 1.32em;
  font-weight: 400;
  letter-spacing: -0.015em;
}

.search-box-right {
  width: 5%;
  cursor: text;
  background: transparent;
  color: transparent;
  right: 0;
  top: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.search-box:hover::after, .search-box:focus-within::after {
  color: #eee;
}

.search-box-right.active {
  cursor: pointer;
  transform: translateX(0%);
  color: #eee;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.pagination > a, .pagination > span {
  color: #eee;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  margin: 0 0.5rem;
  background-color: #3a2e5c;
  transition: all 0.2s ease-in-out;
}

.pagination > a.active {
  color: #3a2e5c;
  background-color: #ae8cd9
}

.pagination > a:hover {
  color: #3a2e5c;
  background-color: #ffeb99;
  text-decoration: underline;
}

#ref-levels-dialog {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightblue;
  width: 30%;
  height: 30%;
  z-index: 100;
  border-radius: 10px;
  border: 1px solid #000;
}

#ref-levels {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #eee;
  color: #000;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #eee;
}

#ref-levels-dialog p {
  margin: 1rem;
  font-size: 1.3rem;
  padding: 0.5rem;
}

#ref-levels-dialog div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#ref-levels-dialog button {
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #3a2e5c;
  color: #fff;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  width: 10rem;
  padding: 0.2rem;
  margin: 0.5rem;
  text-align: center;
}

#ref-levels-dialog button:hover {
  background-color: rgb(165 132 209);
}
