{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Seach</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>

  <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
</head>

<body>

  <div class="container">
    <h1>Optymalizator</h1>
    <h2>Lepszy od lekarzy!</h2>
    <div class="search-box">
      <form action="" class="search-form">
        <input type="text" placeholder="Search" id="search" autocomplete="off">
        <i class="fas fa-arrow-right search-box-right"></i>
      </form>
    </div>
  </div>

  <script src="{% static 'js/home/home.js' %}"></script>
</body>

</html>
