*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Alternates', sans-serif, 'Poppins', sans-serif;
}

body{
  background-color: #3a2e5c;
  color: #fff;
}

.container {
  position: relative;
  margin: calc(75px + 2vh + 2vw) auto 0 auto;
  padding: 0;
  width: 100%;
  max-width: 840px;
}

h1 {
  display: block;
  margin: 0 auto 25px auto;
  text-align: center;
  font-size: 2.42em;
  font-weight: 600;
  letter-spacing: -0.055em;
}

.container h2{
  display: block;
  margin: 0 auto 60px auto;
  text-align: center;
  font-weight: 400;
  font-size: 1.25em;
  letter-spacing: -0.015em;
}

.search-box {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 60px;
  border-radius: 120px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #eee;
  transition: all 0.5s ease;
}

.search-box:hover, .search-box:focus-within {
  box-shadow: 0 0 0 1px #eee;
}

.search-box::before {
  content: "\f002";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 1.32em;
  transition: all 0.5s ease;
  color: #AAA;
}

.search-box:hover::before, .search-box:focus-within::before {
  color: #eee;
}

.search-form {
  width: 95%;
  height: 100%;
}

#search {
  width: 95%;
  height: 100%;
  outline: none;
  border: none;
  background: rgba(255,255,255,0);
  padding: 0 6px 0 16px;
  color: #eee;
  font-size: 1.32em;
  font-weight: 400;
  letter-spacing: -0.015em;
}

.search-box-right {
  width: 5%;
  cursor: text;
  background: transparent;
  color: transparent;
  right: 0;
  top: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.search-box:hover::after, .search-box:focus-within::after {
  color: #eee;
}

.search-box-right.active {
  cursor: pointer;
  transform: translateX(0%);
  color: #eee;
}

.help {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 5px 10px;
  background: transparent;
  color: #aaa;
  border: 1px solid #eee;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.help:hover {
  color: #eee;
}
