{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Optymalizator</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>

  <link rel="stylesheet" href="{% static 'css/fontawesome/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/optimize/optimize.css' %}">
</head>

<body>
  <div class="container">
    <h1>Znalezione odpowiedniki</h1>
    <!-- TODO: dodać nazwę leku, zakres wskazań i jego cenę -->
    <!-- TODO: dodać wybór rozporządzenia -->
    {% if not drugs %}
      <h1 align="center">Nie znaleziono odpowiedników</h1>
    {% else %}
    <ul>
      {% for drug in drugs %}
      <li class="card" data-id="{{drug.pk}}">
        <p class="ean">EAN: 0{{drug.ean}}</p>
        <div class="main-content">
          <div class="left">
            <p>{{drug.nazwa}}</p>
            <p>{{drug.postac}}</p>
            <p>{{drug.dawka}}</p>
            <p>{{drug.zawartosc_opakowania}}</p>
            <p>{{drug.zakres_wskazan}}</p>
          </div>
          <div class="right">
            <p>{{ drug.cena }}</p>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  <div class="top-btn">
    <i class="fas fa-arrow-up"></i>
  </div>

  <div class="back-btn">
    <i class="fas fa-arrow-left"></i>
  </div>

  <script src="{% static 'js/optimize/optimize.js' %}"></script>
</body>

</html>
