{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Listview of Cards</title>

  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>

  <link rel="stylesheet" href="{% static 'css/optimize/optimize.css' %}">
</head>

<body>
  <div class="container">
    <h1>Znalezione odpowiedniki</h1>
    <ul>
      <li class="card">
        <p class="ean"> EAN: 1234567890123 </p>
        <div class="main-content">
          <div class="left">
            <p> Nazwa: Paracetamol </p>
            <p> Postać: tabletki </p>
            <p> Dawka: 500mg </p>
            <p> Opakowanie: 20 szt. </p>
            <p> Choroby: cukrzyca, nadciśnienie </p>
          </div>
          <div class="right">
            <p> Cena: 10 zł </p>
          </div>
        </div>
      </li>
      <li class="card">
        <p class="ean"> EAN: 1234567890123 </p>
        <div class="main-content">
          <div class="left">
            <p> Nazwa: Paracetamol </p>
            <p> Postać: tabletki </p>
            <p> Dawka: 500mg </p>
            <p> Opakowanie: 20 szt. </p>
            <p> Choroby: cukrzyca, nadciśnienie </p>
          </div>
          <div class="right">
            <p> Cena: 10 zł </p>
          </div>
        </div>
      </li>
      <li class="card">
        <p class="ean"> EAN: 1234567890123 </p>
        <div class="main-content">
          <div class="left">
            <p> Nazwa: Paracetamol </p>
            <p> Postać: tabletki </p>
            <p> Dawka: 500mg </p>
            <p> Opakowanie: 20 szt. </p>
            <p> Choroby: cukrzyca, nadciśnienie </p>
          </div>
          <div class="right">
            <p> Cena: 10 zł </p>
          </div>
        </div>
      </li>
      <li class="card">
        <p class="ean"> EAN: 1234567890123 </p>
        <div class="main-content">
          <div class="left">
            <p> Nazwa: Paracetamol </p>
            <p> Postać: tabletki </p>
            <p> Dawka: 500mg </p>
            <p> Opakowanie: 20 szt. </p>
            <p> Choroby: cukrzyca, nadciśnienie, nadciśnienie, nadciśnienie, nadciśnienie, nadciśnienie, , nadciśnienie,
              nadciśnienie, nadciśnienie, nadciśnienie, nadciśnienie, nadciśnienie, nadciśnienie, nadciśnienie </p>
          </div>
          <div class="right">
            <p> Cena: 10 zł </p>
          </div>
        </div>
      </li>
      <li class="card">
        <p class="ean"> EAN: 1234567890123 </p>
        <div class="main-content">
          <div class="left">
            <p> Nazwa: Paracetamol </p>
            <p> Postać: tabletki </p>
            <p> Dawka: 500mg </p>
            <p> Opakowanie: 20 szt. </p>
            <p> Choroby: cukrzyca, nadciśnienie </p>
          </div>
          <div class="right">
            <p> Cena: 10 zł </p>
          </div>
        </div>
      </li>
      <li class="card">
        <p class="ean"> EAN: 1234567890123 </p>
        <div class="main-content">
          <div class="left">
            <p> Nazwa: Paracetamol </p>
            <p> Postać: tabletki </p>
            <p> Dawka: 500mg </p>
            <p> Opakowanie: 20 szt. </p>
            <p> Choroby: cukrzyca, nadciśnienie </p>
          </div>
          <div class="right">
            <p> Cena: 10 zł </p>
          </div>
        </div>
      </li>
      <li class="card">
        <p class="ean"> EAN: 1234567890123 </p>
        <div class="main-content">
          <div class="left">
            <p> Nazwa: Paracetamol </p>
            <p> Postać: tabletki </p>
            <p> Dawka: 500mg </p>
            <p> Opakowanie: 20 szt. </p>
            <p> Choroby: cukrzyca, nadciśnienie </p>
          </div>
          <div class="right">
            <p> Cena: 10 zł </p>
          </div>
        </div>
      </li>
      <li class="card">
        <p class="ean"> EAN: 1234567890123 </p>
        <div class="main-content">
          <div class="left">
            <p> Nazwa: Paracetamol </p>
            <p> Postać: tabletki </p>
            <p> Dawka: 500mg </p>
            <p> Opakowanie: 20 szt. </p>
            <p> Choroby: cukrzyca, nadciśnienie </p>
          </div>
          <div class="right">
            <p> Cena: 10 zł </p>
          </div>
        </div>
      </li>
      <li class="card">
        <p class="ean"> EAN: 1234567890123 </p>
        <div class="main-content">
          <div class="left">
            <p> Nazwa: Paracetamol </p>
            <p> Postać: tabletki </p>
            <p> Dawka: 500mg </p>
            <p> Opakowanie: 20 szt. </p>
            <p> Choroby: cukrzyca, nadciśnienie </p>
          </div>
          <div class="right">
            <p> Cena: 10 zł </p>
          </div>
        </div>
      </li>
      <li class="card">
        <p class="ean"> EAN: 1234567890123 </p>
        <div class="main-content">
          <div class="left">
            <p> Nazwa: Paracetamol </p>
            <p> Postać: tabletki </p>
            <p> Dawka: 500mg </p>
            <p> Opakowanie: 20 szt. </p>
            <p> Choroby: cukrzyca, nadciśnienie </p>
          </div>
          <div class="right">
            <p> Cena: 10 zł </p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="top-btn">
    <i class="fas fa-arrow-up"></i>
  </div>

  <div class="back-btn">
    <i class="fas fa-arrow-left"></i>
  </div>

  <script src="{% static 'js/optimize/optimize.js' %}"></script>
</body>

</html>
