{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Optymalizator</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>

  <link rel="stylesheet" href="{% static 'css/fontawesome/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/search/search.css' %}">
</head>

<body>
  <div class="container">
    <div class="search-container">
      <h1>Optymalizator</h1>
      <div class="search-box">
        <form action="" class="search-form">
          <input type="text" placeholder="Wyszukaj" id="search" value="{{query}}" autocomplete="off">
        </form>
        <i class="fas fa-arrow-right search-box-right"></i>
      </div>
    </div>

    <ul class="drug-list">
      {% if not drugs %}
        <h1 align="center">Nie znaleziono leków</h1>
      {% endif %}
      {% for drug in drugs %}
      <li class="card" id="{{drug.id}}" onclick="send_request({{drug.id}})">
        <p class="ean">EAN: {{drug.ean}}</p>
        <div class="main-content">
          <div class="left">
            <p>{{drug.nazwa}}</p>
            <p>{{drug.postac}}</p>
            <p>{{drug.zawartosc_opakowania}}</p>            
            <p>{{drug.substancja_czynna}}</p>
            <p>{{drug.dawka}}</p>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>

    {% if drugs.paginator.num_pages > 1 %}
    <div class="pagination">
      {% if drugs.has_previous %}
        <a href="{% url 'search' %}?q={{query}}&page={{ drugs.previous_page_number }}">Poprzednia</a>
      {% endif %}

      {% load custom_filters %}
      {% for page in drugs|elided_page_range %}
        {% if page == drugs.number %}
          <a href="{% url 'search' %}?q={{query}}&page={{page}}" class="active">{{page}}</a>
        {% else %}
          <a href="{% url 'search' %}?q={{query}}&page={{page}}">{{page}}</a>
        {% endif %}
      {% endfor %}

      {% if drugs.has_next %}
        <a href="{% url 'search' %}?q={{query}}&page={{ drugs.next_page_number }}">Następna</a>
      {% endif %}
    </div>
    {% endif %}

  </div>

  <div class="top-btn">
    <i class="fas fa-arrow-up"></i>
  </div>

  <script src="{% static 'js/search/search.js' %}"></script>
</body>

</html>
